body {
    background-color: #a7a4a6;
}

.container {
    position: absolute;
    top: 10%;
    background-color: #F6F5FB;
    width: 40%;
    height: 63%;
    border-radius: 10px;
}

.C1,
.C2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 105%;
    overflow: hidden;
}

.clbr {
    background-color: #FFFFFF;
    box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    color: black;
    width: 100%;
    padding: 10px;
    position: relative;
    height: 100%;
}





.ConImg {
    width: 95%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.25);
}


.imag {
    width: 80%;
    height: 70%;
    border-radius: 20px;
    border: none;
    background-color: #E0DEDE;
}

/*Estilizacion de input para imagen*/
.subImg {
    width: 75%;
    position: relative;
    top: 10px;
    border-radius: 10px;
}

.file-select {
    position: relative;
}


.file-select::before {
    background: none;
    border: 1px solid #6D5BD0;
    font-size: 14px;
    color: #6B6B6B;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    content: 'Seleccionar';
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
}


.file-select input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 40px;
}


#src-file1::before {
    content: 'Subir foto';
    width: 70%;
    position: absolute;
    left: 15%;
}


.butns {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.btnay {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.btns {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 5px;

}


button {
    border-radius: 5px;
}

.btn-group1colab {
    position: relative;
    top: 17px;
}

.btn-group2colab {
    position: relative;
    top: 44px;
}

.btn-groupU{
    position: relative;
    top: 20px;
}

.ifecha {
    border-bottom: 1px solid #B38ADD;
}

i {
    color: #B38ADD;
}

h4,
h6 {
    color: #636872;
}

/*COMIENZA LA ANIMACION PARA LOS INPUT*/
form input {
    background: none;
    border: none;
    color: #3a3939;
    padding-top: 10px;
    outline: none;
    width: 100%;
    height: 45px;
}

.C1 label {
    position: relative;
    top: 0px;
    width: 100%;
    pointer-events: none;
    border-bottom: 1px solid #B38ADD;
}

.C2 label {
    position: relative;
    top: 0px;
    width: 100%;
    pointer-events: none;
    border-bottom: 1px solid #B38ADD;
}

.C1 label::after {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 3px solid #7a35be;
    left: 0px;
    transform: translateX(-110%);
    transition: all 0.3s ease;
}

.C2 label::after {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 3px solid #7a35be;
    left: 0px;
    transform: translateX(-110%);
    transition: all 0.3s ease;
}


.C1 span {
    position: absolute;
    bottom: 5px;
    transition: all 0.3s ease;
    color: #0a0a0a;
}

.C2 span {
    position: absolute;
    bottom: 5px;
    transition: all 0.3s ease;
    color: #0a0a0a;
}

.C1 input:focus+label span,
.C1 input:valid+label span {
    transform: translateY(-120%);
    font-size: 12px;
    color: #0a0a0a;
}

.C2 input:focus+label span,
.C2 input:valid+label span {
    transform: translateY(-120%);
    font-size: 12px;
    color: #0a0a0a;
}


.C1 input:focus+label::after,
.C1 input:valid+label::after {
    transform: translateX(0%);
}

.C2 input:focus+label::after,
.C2 input:valid+label::after {
    transform: translateX(0%);
}

/*TERMINA ANIMACION PARA INPUT*/

.ConEme {
    position: relative;
    top: 25px;
    display: flex;
    justify-content: center;
    height: 45%;
}

.contEme {
    background-color: #FFFFFF;
    box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 96%;
}



.frmConP label {
    position: relative;
    top: -20px;
    width: 100%;
    pointer-events: none;
    border-bottom: 1px solid #B38ADD;
}

.frmConP label::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    border-bottom: 3px solid #7a35be;
    transition: all 0.3s ease;
}


span {
    position: absolute;
    bottom: 5px;
    transition: all 0.3s ease;
    color: #0a0a0a;
}

.frmConP input:focus+label span,
.frmConP input:valid+label span {
    transform: translateY(-120%);
    font-size: 12px;
    color: #0a0a0a;
}


.frmConP input:focus+label::after,
.frmConP input:valid+label::after {
    width: 100%;
}

select{
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 0;
    border-bottom: 1px solid #B38ADD;
    width: 100%;
}

select:focus{
    border-color: #FFFFFF;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid #B38ADD;
}

.btnay button{
    border: 1px solid #7a35be;
    color: #6B6B6B;
    background: none;
}


.spancmb1{
    position: absolute;
    left: 0px;
    background-color: #FFFFFF;
    transition: all 0.3s ease;
}

.opcion1{
    background-color: black;
    color: white;
}

@media screen and (max-width: 1920px) {
    .container{
        width: 700px;
        overflow: auto !important;
        height: 630px;
    }
}

@media screen and (max-width: 1600px) {
    .container{
        width: 700px;
        height: 600px;
    }
}

@media screen and (max-width: 1400px) {
    .container{
        position: absolute;
        width: 700px;
        height: 600px;
    }
}

@media screen and (max-width: 1200px) {
    .container{
        width: 700px;
        height: 600px;
    }
}

@media screen and (max-width: 1000px) {
    .container{
        width: 700px;
        height: 600px;
    }
}

@media screen and (max-width: 800px) {
    .container{
        width: 100%;
        padding-bottom: 10px !important;
        height: 60%;
    }
    .btns{
        position: relative;
        top: -10px;
    }
}
