.boGes{
    background-color: #c9c6c6;
}

.container{
    background-color: #F6F5FB;
    width: 700px;
    height: 470px;
    border-radius: 10px;
}

.indi1{
    
}

.CONAnDirRie{
    background-color: #FEFEFE;
    height: 140%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.25);
}

.AnDirRie, .MediPrev{
    width: 80%;
}

.CONAnDirRie input, select{
    background: none;
    border: none;
    color: #3a3939;
    padding-top: 5px;
    outline: none;
    width: 100%;
    height: 45px;
    
}

.CONAnDirRie label{
    position: relative;
    top: -20px;
    width: 100%;
    pointer-events: none;
    border-bottom: 1px solid #B38ADD;
}


.CONAnDirRie label::after{
    content: '';
    position: absolute;
    top: 0px;
    width:0%;
    border-bottom: 3px solid #B38ADD;
    left: 0px;
    transition: all 0.3s ease;
}

.CONAnDirRie .sp1, .sp2{
    position: absolute;
    left: 5px;
    bottom: 5px;
    transition: all 0.3s ease;
    color: #0a0a0a;
}

.CONAnDirRie input:focus+label span,
.CONAnDirRie input:valid+label span {
    transform: translateY(-120%);
    font-size: 12px;
    color: #0a0a0a;
}

.CONAnDirRie input:focus+label::after,
.CONAnDirRie input:valid+label::after {
    width: 100%;
}

.cmbProbabilidad{
    position: relative;
    top: 25px;
}

.dtFecha{
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #B38ADD;
    width: 100%;
}


.CONMediPrev{
    background-color: #FEFEFE;
    height: 140%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.25);
}


.CONMediPrev .txtRecursos, select{
    background: none;
    border: none;
    color: #3a3939;
    padding-top: 5px;
    outline: none;
    width: 100%;
    height: 45px;
}

.CONMediPrev .txtRecursos{
    background: none;
    border: none;
    color: #3a3939;
    padding-top: 5px;
    outline: none;
    width: 100%;
    height: 45px;
}

.indi{
    position: relative;
    top: -20px;
}

.CONMediPrev label{
    position: relative;
    top: -20px;
    width: 100%;
    pointer-events: none;
    border-bottom: 1px solid #B38ADD;
}


.CONMediPrev label::after{
    content: '';
    position: absolute;
    width: 0%;
    border-bottom: 3px solid #B38ADD;
    left: 0px;
    transition: all 0.3s ease;
}

.CONMediPrev span{
    position: absolute;
    left: 5px;
    bottom: 5px;
    transition: all 0.3s ease;
    color: #0a0a0a;
}

.CONMediPrev input:focus+label span,
.CONMediPrev input:valid+label span {
    transform: translateY(-120%);
    font-size: 12px;
    color: #0a0a0a;
}

.CONMediPrev input:focus+label::after,
.CONMediPrev input:valid+label::after {
    width: 100%;
}


.AnDirRie select{
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 0;
    border-bottom: 1px solid #B38ADD;
    width: 100%;
}

.MediPrev select{
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 0;
    border-bottom: 1px solid #B38ADD;
    width: 100%;
}


.acept{
    position: relative;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.act button{
    position: relative;
    top: 20px;
    width: 40%;
    border-radius: 5px;
    background: none;
    border: 1px solid #B38ADD;
    color: #6B6B6B;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.act button i{
    position: relative;
    left: 5px;
}

.act{
    width: 80%;
    display: flex;
    justify-content: end;
}


/*Estilizacion de adjuntar archivos*/  
.subImg {
    width: 100%;
    position: absolute;
    top: 0px;
    border-radius: 10px;
    height: 80px;
}

.file-select2 {
    position: relative;
}


.file-select2::before {
    background-color: #d1ccf7;
    border: 1px solid #d1ccf7;
    font-size: 14px;
    color: #6B6B6B;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    content: 'Seleccionar';
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
}


.file-select2 input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 40px;
}


#src-file2::before {
    content: 'Adjuntar archivos';
    width: 100%;
    position: absolute;
    left: 0px;
}


@media screen and (max-width: 1920px) {
    .container{
        width: 700px;
        overflow: auto !important;
        height: 470px;
    }
}

@media screen and (max-width: 1600px) {
    .container{
        width: 700px;
        height: 470px;
    }
}

@media screen and (max-width: 1400px) {
    .container{
        position: absolute;
        width: 700px;
        height: 470px;
    }
}

@media screen and (max-width: 800px) {
    .container{
        width: 100%;
        padding-bottom: 10px !important;
        height: 350px;
    }
    .btns{
        position: relative;
        top: -10px;
    }
}