.boAg {
    background-color: #a7a4a6;
}

.contAgen {
    background-color: rgb(255, 255, 255);
    position: abs;
    width: 400px;
    height: 500px;
}

.frmAgenda{
    width: 80%;
    height: 400px;
    overflow: hidden;
}

.frmAgenda .btnos{
    display: flex;
    flex-direction: column;
}

.frmAgenda .botons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.botons button{
    width: 100px;
}


.frmAgenda .inombre, .idescrip{
    background: none;
    border: none;
    color: #3a3939;
    padding-top: 5px;
    outline: none;
    width: 100%;
    height: 45px;
}

.frmAgenda label{
    position: relative;
    top: -35px;
    width: 100%;
    pointer-events: none;
    border-bottom: 2px solid #a7a4a6;
}


.frmAgenda label::after{
    content: '';
    position: absolute;
    width: 100%;
    top: 17px;
    border-bottom: 3px solid #0a0a0a;
    left: 0px;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.frmAgenda span{
    position: absolute;
    bottom: 5px;
    transition: all 0.3s ease;
    color: #0a0a0a;
}

.frmAgenda input:focus + label span,
.frmAgenda input:valid + label span{
    transform: translateY(-120%);
    font-size: 12px;
    color: #0a0a0a;
}

.frmAgenda input:focus + label::after,
.frmAgenda input:valid + label::after{
    transform: translateX(0%);
}


.frmAgenda .row{
    height: 80px;
}

.frmAgenda .ifecha, .ihora{
    background: none;
    border-top: none;
    border-color: #a7a4a6;
    color: #3a3939;
    padding-top: 5px;
    outline: none;
    width: 100%;
    height: 45px;
}

.btnos button{
    border-radius: 10px;
    border: none;
}

#a{
    background-color: #38e05c;
}

#b{
    background-color: #cfe038;
}

#c{
    background-color: #e03838;
}